.header {
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%),
                center / cover no-repeat url("../img/header__bg.jpg");
    .container {        
        
    }
    &__top {
        padding: 42px 0;
    }
    &__logo {}
    &__navigation {}
    &__menu {}
    &__center {
        padding: 145px 0 73px 0;
    }
    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 82px;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 29px;
        line-height: 40px;
        margin-bottom: 100px;
    }
    &__form {}
}
.logo {
    &__link {}
    &__img {}
}
.menu-list {
    display: flex;
    gap: 46px;
    &__item {}
    &__item-link {
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 21px;
        &:hover, 
        &:focus,
        &:active {
            transition: all 0.3s ease;
            color: $yellow;
            border-bottom: 1px solid $yellow;
        }
    }
}
.form-search {
    padding: 21px 91px;
    background: $white;
    box-shadow: 6px 9px 59px 3px rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: space-between;
    gap: 14px;
    flex-wrap: wrap;
    input {
        background-color: #FFF0CB;
        border: none;
        height: 61px;
        width: 179px;
    }
    input:focus {
        outline: 2px solid $yellow;
    }
    .city,
    .square {
        flex: 0 1 203px ;        
    }
    .address {
        flex: 0 1 828px ;
    }
    .floor {
        margin-left: 14px;
    }
    &__btn {
        border: none;
        background-color: $yellow;
        width: 247px;
        height: 61px;
        font-size: 23px;
        line-height: 27px;
        color: $black;
        text-transform: capitalize;
    }
}
