html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
}
a:hover,
a:focus,
a:active {
    color: inherit;
}

body {
    font-family: 'Nunito', 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #E5E5E5;
}

ul, ol {
    list-style-type: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1265px;
}
